<div class="mid">
  <table>
      <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>1<p class="delivered">1.5 litrs</p>
          </td>
          <td>2<p class="delivered">1.5 litrs</p>
          </td>
          <td>3<p class="delivered">1.5 litrs</p>
          </td>
      </tr>
      <tr>
          <td>4<p class="delivered">1.5 litrs</p>
          </td>
          <td>5<p class="delivered">1.5 litrs</p>
          </td>
          <td>6<p class="delivered">1.5 litrs</p>
          </td>
          <td>7<p class="delivered">1.5 litrs</p>
          </td>
          <td>8<p class="delivered">1.5 litrs</p>
          </td>
          <td>9<p class="delivered">1.5 litrs</p>
          </td>
          <td>10<p class="delivered">1.5 litrs</p>
          </td>
      </tr>
      <tr>
          <td>11<p class="delivered">1.5 litrs</p>
          </td>
          <td>12<p class="delivered">1.5 litrs</p>
          </td>
          <td>13<p class="delivered">1.5 litrs</p>
          </td>
          <td>14<p class="upcoming">1.5 litrs</p>
          </td>
          <td>15<p class="upcoming">1.5 litrs</p>
          </td>
          <td>16<p class="upcoming">1.5 litrs</p>
          </td>
          <td>17<p class="upcoming">1.5 litrs</p>
          </td>
      </tr>
      <tr>
          <td>18<p class="upcoming">1.5 litrs</p>
          </td>
          <td>19<p class="upcoming">1.5 litrs</p>
          </td>
          <td>20<p class="upcoming">1.5 litrs</p>
          </td>
          <td>21<p class="upcoming">1.5 litrs</p>
          </td>
          <td>22<p class="upcoming">1.5 litrs</p>
          </td>
          <td>23<p class="upcoming">1.5 litrs</p>
          </td>
          <td>24<p class="upcoming">1.5 litrs</p>
          </td>
      </tr>
      <tr>
          <td>25<p class="upcoming">1.5 litrs</p>
          </td>
          <td>26<p class="upcoming">1.5 litrs</p>
          </td>
          <td>27<p class="upcoming">1.5 litrs</p>
          </td>
          <td>28<p class="upcoming">1.5 litrs</p>
          </td>
          <td>1 <p class="request">1.5 litrs</p>
          </td>
          <td>2 <p class="request">1.5 litrs</p>
          </td>
          <td>3 <p class="request">1.5 litrs</p>
          </td>
      </tr>
  </table>
</div>
