<nav>
  <h2 class="logo">Calender</h2>

  <ul class="leftNav">
      <li><input type="text" name="day" id="day" placeholder="Day" /></li>
      <li><input type="text" name="Week" id="Week" placeholder="Week"></li>
      <li><input type="text" name="Month" id="Month" placeholder="Month"></li>
  </ul>
  <div class="menuToggle">
  </div>
  <div class="today">
      <button class="todayBtn">Today</button>
      <ul class="arrowBtn">
          <li><button>&#60;</button></li>
           <li>   <button>&#62;</button></li>

      </ul>
  </div>

  <h3 class="month"><b>FEBRUARY</b></h3>


  <ul class="navFeature navFeatureSmall">
<span class="material-symbols-outlined rightNavSmall">
  search
  </span>
  <span class="dateBorderSmall">14</span>
      <li><span class="material-symbols-outlined">
              Settings
          </span>Settings</li>
      <li><span class="material-symbols-outlined">
              Help
          </span>Help</li>
  </ul>
</nav>
