<div class="left">
  <div class="up">
      <table>
          <caption class="headSmall">&#60; FEB &#62;</caption>
          <caption>&#60; February 2021 &#62;</caption>
          <tr>
              <th>M</th>
              <th>T</th>
              <th>W</th>
              <th>T</th>
              <th>F</th>
              <th>S</th>
              <th>S</th>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>2<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>3<p class="barSmall deliveredSmall">1.5 litrs</p></td>
          </tr>
          <tr>
              <td>4<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>5<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>6<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>7<p class="barSmall notDeliveredSmall">1.5 litrs</p></td>
              <td>8<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>9<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>10<p class="barSmall deliveredSmall">1.5 litrs</p></td>
          </tr>
          <tr>
              <td>11<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>12<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>13<p class="barSmall deliveredSmall">1.5 litrs</p></td>
              <td>14<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>15<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>16<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>17<p class="barSmall upcomingSmall">1.5 litrs</p></td>
          </tr>
          <tr>
              <td>18<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>19<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>20<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>21<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>22<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>23<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>24<p class="barSmall upcomingSmall">1.5 litrs</p></td>
          </tr>
          <tr>
              <td>25<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>26<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>27<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td>28<p class="barSmall upcomingSmall">1.5 litrs</p></td>
              <td class="request">1<p class="barSmall requestSmall">1.5 litrs</p></td>
              <td class="request">2<p class="barSmall requestSmall">1.5 litrs</p></td>
              <td class="request">3<p class="barSmall requestSmall">1.5 litrs</p></td>
          </tr>
      </table>
  </div>
  <hr />
  <div class="down">
      <ul class="colorMeaningSmall">
          <li>
              <div class="bar green"></div> <span>delivered</span>
          </li>
          <li>
              <div class="bar red" ></div><span> Not delivered</span>
          </li>
          <li>
              <div class="bar aqua" ></div><span> Up coming</span>
          </li>
      </ul>
      <button class="addBtn">
          <b> Add Vacation</b>
      </button>
<div class="smallHr"></div>
<div class="dateSmall">14 FEB Today</div>
<div class="footerSmall">
<div class="requestBtnSmall">My Requests</div>
<div class="iconSmall"><span class="material-symbols-outlined">
  add
  </span></div>
</div>
<button class="dropdown">My Calender <span class="material-symbols-outlined">
keyboard_arrow_down
</span></button>


<button class="dropdown">Cancel Calender <span class="material-symbols-outlined">
keyboard_arrow_down
</span></button>
<button class="dropdown">Other Tasks <span class="material-symbols-outlined">
keyboard_arrow_down
</span></button>
      <button class="requestBtn">My Request<span class="material-symbols-outlined">
          add_circle
          </span></button>
  </div>

</div>
